In [1]:
#import basic Libraries
import pandas as pd
import numpy as np

#Visualizaiton imports
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.sparse import hstack, vstack

#Webscraping (for locations)
from bs4 import BeautifulSoup 
import requests

#Importing Sklearn
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import RandomizedLogisticRegression

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

%matplotlib inline

In [2]:
filenames = ['aisles','departments' ,'order_products__prior','order_products__train', 'orders','products']

In [3]:
#import of all files from the data folder.
aisles = pd.read_csv('./data/'+ filenames[0] + '.csv')
departments = pd.read_csv('./data/'+ filenames[1] + '.csv')
order_products__prior = pd.read_csv('./data/'+ filenames[2] + '.csv')
order_products__train = pd.read_csv('./data/'+ filenames[3] + '.csv')
orders = pd.read_csv('./data/'+ filenames[4] + '.csv')
products = pd.read_csv('./data/'+ filenames[5] + '.csv')

In [4]:
#checking the shape of each of the file and checks for any null values.
for name in filenames:
    print(name, eval(name).shape,": Null values?", eval(name).isnull().any()[0])

aisles (134, 2) : Null values? False
departments (21, 2) : Null values? False
order_products__prior (32434489, 4) : Null values? False
order_products__train (1384617, 4) : Null values? False
orders (3421083, 7) : Null values? False
products (49688, 4) : Null values? False

In [5]:
aisles.head()
departments.head()
#combine aisle and departments
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
opt = order_products__train.merge(products,how='left', on='product_id')
opt = opt.merge(departments,how='left', on='department_id')
opt = opt.merge(aisles,how='left', on='aisle_id')

In [7]:
opt.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,department,aisle
0,1,49302,1,1,Bulgarian Yogurt,120,16,dairy eggs,yogurt
1,1,11109,2,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses
2,1,10246,3,0,Organic Celery Hearts,83,4,produce,fresh vegetables
3,1,49683,4,0,Cucumber Kirby,83,4,produce,fresh vegetables
4,1,43633,5,1,Lightly Smoked Sardines in Olive Oil,95,15,canned goods,canned meat seafood

In [8]:
#instanciate Oone hot encoder ot break out the data my aisle.
ohe = OneHotEncoder()

In [9]:
#test to  see # of aisles
print('# of unique aisles =',len(opt['aisle_id'].unique()))
aisle = ohe.fit_transform(opt['aisle_id'].values.reshape(-1,1))

# of unique aisles = 134

In [10]:
a_ohe = pd.DataFrame(aisle.toarray())
aisle = a_ohe.to_dense()

In [11]:
basket = opt[['order_id']].join(aisle)

In [12]:
basket.head()

,order_id,0,1,2,3,4,5,6,7,8,...,124,125,126,127,128,129,130,131,132,133
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
basket = basket.groupby('order_id').sum()

In [14]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)

In [15]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

In [16]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(23),(15),0.550099,0.096868,0.074446,0.135332,1.397072,0.021159,1.044484
1,(15),(23),0.096868,0.550099,0.074446,0.768529,1.397072,0.021159,1.943656
2,(82),(15),0.450975,0.096868,0.083470,0.185088,1.910712,0.039785,1.108256
3,(15),(82),0.096868,0.450975,0.083470,0.861684,1.910712,0.039785,3.969343
4,(20),(23),0.237781,0.550099,0.160911,0.676720,1.230178,0.030108,1.391676

In the above example, the {Diaper} is the **antecedent** and the {Beer} is the consequent. Both antecedents and consequents can have multiple items. In other words, {Diaper, Gum} -> {Beer, Chips} is a valid rule.

**Support** is the relative frequency that the rules show up. In many instances, you may want to look for high support in order to make sure it is a useful relationship. However, there may be instances where a low support is useful if you are trying to find “hidden” relationships.

**Confidence** is a measure of the reliability of the rule. A confidence of .5 in the above example would mean that in 50% of the cases where Diaper and Gum were purchased, the purchase also included Beer and Chips. For product recommendation, a 50% confidence may be perfectly acceptable but in a medical situation, this level may not be high enough.

**Lift** is the ratio of the observed support to that expected if the two rules were independent (see wikipedia). The basic rule of thumb is that a lift value close to 1 means the rules were completely independent. Lift values > 1 are generally more “interesting” and could be indicative of a useful rule pattern.

In [17]:
rules[rules['lift'] >= 1]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(23),(15),0.550099,0.096868,0.074446,0.135332,1.397072,0.021159,1.044484
1,(15),(23),0.096868,0.550099,0.074446,0.768529,1.397072,0.021159,1.943656
2,(82),(15),0.450975,0.096868,0.083470,0.185088,1.910712,0.039785,1.108256
3,(15),(82),0.096868,0.450975,0.083470,0.861684,1.910712,0.039785,3.969343
4,(20),(23),0.237781,0.550099,0.160911,0.676720,1.230178,0.030108,1.391676
5,(23),(20),0.550099,0.237781,0.160911,0.292513,1.230178,0.030108,1.077361
6,(82),(20),0.450975,0.237781,0.144213,0.319780,1.344850,0.036979,1.120547
7,(20),(82),0.237781,0.450975,0.144213,0.606494,1.344850,0.036979,1.395213
8,(83),(20),0.223750,0.237781,0.076313,0.341065,1.434368,0.023110,1.156745
9,(20),(83),0.237781,0.223750,0.076313,0.320940,1.434368,0.023110,1.143124
10,(20),(119),0.237781,0.253405,0.088012,0.370140,1.460667,0.027757,1.185335
11,(119),(20),0.253405,0.237781,0.088012,0.347319,1.460667,0.027757,1.167827
12,(122),(20),0.383030,0.237781,0.123963,0.323637,1.361070,0.032885,1.126937
13,(20),(122),0.237781,0.383030,0.123963,0.521331,1.361070,0.032885,1.288927
14,(30),(23),0.133375,0.550099,0.086701,0.650057,1.181708,0.013332,1.285640
15,(23),(30),0.550099,0.133375,0.086701,0.157610,1.181708,0.013332,1.028770
16,(36),(23),0.120929,0.550099,0.072015,0.595513,1.082555,0.005492,1.112274
17,(23),(36),0.550099,0.120929,0.072015,0.130912,1.082555,0.005492,1.011487
18,(66),(23),0.102386,0.550099,0.072312,0.706268,1.283891,0.015989,1.531668
19,(23),(66),0.550099,0.102386,0.072312,0.131453,1.283891,0.015989,1.033466
20,(77),(23),0.119428,0.550099,0.077746,0.650989,1.183403,0.012049,1.289073
21,(23),(77),0.550099,0.119428,0.077746,0.141331,1.183403,0.012049,1.025509
22,(82),(23),0.450975,0.550099,0.327333,0.725833,1.319458,0.079252,1.640974
23,(23),(82),0.550099,0.450975,0.327333,0.595043,1.319458,0.079252,1.355760
24,(83),(23),0.223750,0.550099,0.151948,0.679099,1.234503,0.028864,1.401993
25,(23),(83),0.550099,0.223750,0.151948,0.276220,1.234503,0.028864,1.072494
26,(85),(23),0.147459,0.550099,0.104025,0.705448,1.282400,0.022908,1.527404
27,(23),(85),0.550099,0.147459,0.104025,0.189102,1.282400,0.022908,1.051354
28,(90),(23),0.170514,0.550099,0.119923,0.703303,1.278502,0.026123,1.516364
29,(23),(90),0.550099,0.170514,0.119923,0.218003,1.278502,0.026123,1.060727
...,...,...,...,...,...,...,...,...,...
172,(122),"(82, 119)",0.383030,0.146682,0.094940,0.247866,1.689818,0.038757,1.134529
173,(119),"(82, 122)",0.253405,0.252361,0.094940,0.374658,1.484612,0.030991,1.195568
174,"(82, 20, 122)",(23),0.091221,0.550099,0.076626,0.840003,1.527003,0.026445,2.811937
175,"(82, 20, 23)",(122),0.112538,0.383030,0.076626,0.680889,1.777637,0.033520,1.933399
176,"(82, 122, 23)",(20),0.203919,0.237781,0.076626,0.375766,1.580304,0.028138,1.221047
177,"(122, 20, 23)",(82),0.098888,0.450975,0.076626,0.774875,1.718220,0.032030,2.438753
178,"(82, 20)","(122, 23)",0.144213,0.287282,0.076626,0.531339,1.849538,0.035196,1.520754
179,"(82, 122)","(20, 23)",0.252361,0.160911,0.076626,0.303636,1.886979,0.036018,1.204957
180,"(82, 23)","(122, 20)",0.327333,0.123963,0.076626,0.234092,1.888406,0.036049,1.143789
181,"(122, 20)","(82, 23)",0.123963,0.327333,0.076626,0.618137,1.888406,0.036049,1.761541
182,"(20, 23)","(82, 122)",0.160911,0.252361,0.076626,0.476199,1.886979,0.036018,1.427336
183,"(122, 23)","(82, 20)",0.287282,0.144213,0.076626,0.266727,1.849538,0.035196,1.167078
184,(82),"(122, 20, 23)",0.450975,0.098888,0.076626,0.169911,1.718220,0.032030,1.085561
185,(20),"(82, 122, 23)",0.237781,0.203919,0.076626,0.322254,1.580304,0.028138,1.174601
186,(122),"(82, 20, 23)",0.383030,0.112538,0.076626,0.200052,1.777637,0.033520,1.109399
187,(23),"(82, 20, 122)",0.550099,0.091221,0.076626,0.139295,1.527003,0.026445,1.055854
188,"(82, 122, 119)",(23),0.094940,0.550099,0.083173,0.876054,1.592537,0.030946,3.629800
189,"(82, 23, 119)",(122),0.122240,0.383030,0.083173,0.680404,1.776372,0.036351,1.930468
190,"(82, 122, 23)",(119),0.203919,0.253405,0.083173,0.407871,1.609563,0.031499,1.260866
191,"(122, 23, 119)",(82),0.111105,0.450975,0.083173,0.748594,1.659945,0.033067,2.183816
192,"(82, 119)","(122, 23)",0.146682,0.287282,0.083173,0.567027,1.973763,0.041034,1.646102
193,"(82, 122)","(23, 119)",0.252361,0.185102,0.083173,0.329578,1.780527,0.036460,1.215501
194,"(82, 23)","(122, 119)",0.327333,0.132834,0.083173,0.254092,1.912856,0.039692,1.162565
195,"(122, 119)","(82, 23)",0.132834,0.327333,0.083173,0.626140,1.912856,0.039692,1.799251
196,"(23, 119)","(82, 122)",0.185102,0.252361,0.083173,0.449335,1.780527,0.036460,1.357703
197,"(122, 23)","(82, 119)",0.287282,0.146682,0.083173,0.289516,1.973763,0.041034,1.201037
198,(82),"(122, 23, 119)",0.450975,0.111105,0.083173,0.184428,1.659945,0.033067,1.089904
199,(119),"(82, 122, 23)",0.253405,0.203919,0.083173,0.328220,1.609563,0.031499,1.185033
200,(122),"(82, 23, 119)",0.383030,0.122240,0.083173,0.217144,1.776372,0.036351,1.121228
201,(23),"(82, 122, 119)",0.550099,0.094940,0.083173,0.151196,1.592537,0.030946,1.066276

In [18]:
#test to  see # of aisles
print('# of unique aisles =',len(opt['product_id'].unique()))

# of unique aisles = 39123

In [19]:
product = ohe.fit_transform(opt['product_id'].values.reshape(-1,1))

In [20]:
#p_ohe = pd.DataFrame(product.toarray())

In [21]:
product = product.todense

In [22]:
product

<bound method spmatrix.todense of <1384617x39123 sparse matrix of type '<class 'numpy.float64'>'
	with 1384617 stored elements in Compressed Sparse Row format>>

In [23]:
orders = opt['order_id'][:,None]

In [24]:
orders.shape

(1384617, 1)

In [25]:
#hstack(orders,product,dtype="int64")

In [26]:
basket = orders.join(product)

AttributeError: 'numpy.ndarray' object has no attribute 'join'

In [ ]:
basket = basket.groupby('order_id').sum()

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)

In [ ]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

## Importing locations for their website
#importing location from website
url= 'https://www.instacart.com/locations'
response = requests.get(url, headers = {'User-agent': 'agentP'})
soup = BeautifulSoup(response.text,'lxml')

#finds the links to each individual state and city
href = soup.find_all(href=True)

Puts all the links into Dataframe.
total_locations = []
for i in range(len(href)):
    total_locations.append(href[i].get_text())

locations = total_locations[19:-21]

states = []
for i in locations:
    states.append(i.split('\n')[1])
location = pd.DataFrame({'state': states})

gets the states and the cities that they are located in.
states = location[:44]
locations = location[44:]

#renames the column to city
locations.columns=['city']

#resets the index to align it correctly.
locations.reset_index(inplace = True)

## Exports to CSV

#states.to_csv('./data/states.csv')
#locations.to_csv('./data/cities.csv')